{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Bem-vindo ao Site de Tarefas {% endblock %}</h1>
    {% for post in posts %}
    	<a href="{{ url_for('post', post_id=post[0]) }}"><h2>{{ post[2] }}</h2></a>
        <span class="badge badge-primary">{{ post[1] }}</span>
        <br>
        <p>{{ post[3] }}</p>
        <span class="badge badge-primary">Dia e Hora de Vencimento: {{ post[4] }}</span>       
        <br>
        <span class="badge badge-primary">Concluido: {{ post[5] }}</span>
	    <a href="{{ url_for('edit', id=post[0]) }}">
            <br>
            <span class="badge badge-warning">Editar</span>
        </a>
	    <hr>
    {% endfor %}	
{% endblock %}
